/*=====variables=====*/

$background-primary: rgb(14,94,98);
$type-light: rgb(242,238,203);
$type-dark: rgb(55,3,32);
$type-highlight: rgb(248,85,80);

$primary: "brandon-grotesque", sans-serif; 
$secondary: "adonis-web", sans-serif;

/*====================*/


body {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    img {
        max-width: 100%;
        display: block;
    }
}

/*====="INCLUDES"=====*/

header, footer {
    overflow: hidden;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 2em 0;
    color: $type-dark;
}

.slick_logo {margin-bottom: 1.2em;}

.head_nav ul li {
    display: inline-block; 
    padding-right: 5%;
    
    &:last-of-type {padding-right: 0;}  
}

.foot_nav {float: left; width: 50%}
.social_nav {float: right; width: 50%; text-align: right;}



/*=====HOME PAGE=====*/

.wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.intro_info, .featured_posts {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    background-color: $background-primary;
    padding: 7em 0;
    color: $type-light;

    p, h1 {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    }
}

.featured_posts {
    overflow: hidden; 
    padding: 7em 0;

    h3, .post_link {
        padding-bottom: 1em;
        color: $type-highlight;
    }

    p {
        color: $type-dark;
    }
}

.post {
        margin-bottom: 5em;

        &:last-of-type {
            margin-bottom: 0;
        }

    }

.city_photos {overflow: hidden;}

.city {
    display: block;
    height: 220px;

    &:hover {
        -webkit-filter: grayscale(100%);
        -moz-filter:grayscale(100%);
        filter:grayscale(100%);
    }

    h3 {
    text-align: center;
    padding: 3em 1em;
    color:$type-dark;

    }
}


.paris {background: url(../assets/paris-home.jpg) no-repeat; background-size: cover;}
.moscow {background: url(../assets/moscow.jpg) no-repeat;background-size: cover;}
.mumbai {background: url(../assets/mumbai.jpg) no-repeat;background-size: cover;}
.newyork {background: url(../assets/newyork.jpg) no-repeat;background-size: cover;}
.seoul {background: url(../assets/seoul.jpg) no-repeat;background-size: cover;}
.buenos {background: url(../assets/buenos-aires.jpg) no-repeat;background-size: cover;}


/*=====POST PAGE=====*/

.post_header {
        border-bottom: solid $background-primary 2px;
}

.post_footer {
    border-top: solid $background-primary 2px;
    margin-top: 2em;
}

article {
    margin-bottom: 4em;
    color: $type-dark;
    padding-top: 3.5em;

    p {
        padding-bottom: 1em;
        max-width: 800px;

        &:last-of-type {
            padding-bottom: 0;
        }

        &:nth-of-type(3){
            padding-top: 1em;
        }
    }
}

.related_posts {

    h2 {
        padding-bottom: 1em;
        color: $type-highlight;
    }

    li {
        padding-bottom: .5em;
    }
}




