/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*=====variables=====*/
/*=====font families=====*/
h1, h2, h3, .slick_logo {
  font-family: "adonis-web", sans-serif; }

nav a, p, li {
  font-family: "brandon-grotesque", sans-serif; }

/*=====font sizes & weights=====*/
p, a {
  font-size: 1.25em;
  line-height: 1.5; }

* a {
  text-decoration: none;
  font-weight: 100; }

h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 1em; }

h2 {
  font-size: 2em;
  font-weight: 700; }

h3 {
  font-size: 1.65em;
  font-weight: 700; }

.slick_logo {
  font-size: 1.5em; }

.post_link {
  font-family: "adonis-web", sans-serif;
  font-size: 1.65em;
  font-weight: 700; }

/*=====variables=====*/
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
body img {
  max-width: 100%;
  display: block; }

/*====="INCLUDES"=====*/
header, footer {
  overflow: hidden;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 2em 0;
  color: #370320; }

.slick_logo {
  margin-bottom: 1.2em; }

.head_nav ul li {
  display: inline-block;
  padding-right: 5%; }
  .head_nav ul li:last-of-type {
    padding-right: 0; }

.foot_nav {
  float: left;
  width: 50%; }

.social_nav {
  float: right;
  width: 50%;
  text-align: right; }

/*=====HOME PAGE=====*/
.wrapper {
  width: 90%; }

.intro_info, .featured_posts {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.intro {
  background-color: #0e5e62;
  padding: 7em 0;
  color: #f2eecb; }
  .intro p, .intro h1 {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto; }

.featured_posts {
  overflow: hidden;
  padding: 7em 0; }
  .featured_posts h3, .featured_posts .post_link {
    padding-bottom: 1em;
    color: #f85550; }
  .featured_posts p {
    color: #370320; }

.post {
  margin-bottom: 5em; }
  .post:last-of-type {
    margin-bottom: 0; }

.city_photos {
  overflow: hidden; }

.city {
  display: block;
  height: 220px; }
  .city:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%); }
  .city h3 {
    text-align: center;
    padding: 3em 1em;
    color: #370320; }

.paris {
  background: url(../assets/61H.jpg) no-repeat;
  background-size: cover; }

.moscow {
  background: url(../assets/6H.jpg) no-repeat;
  background-size: cover; }

.mumbai {
  background: url(../assets/52H.jpg) no-repeat;
  background-size: cover; }

.newyork {
  background: url(../assets/219H.jpg) no-repeat;
  background-size: cover; }

.seoul {
  background: url(../assets/74H.jpg) no-repeat;
  background-size: cover; }

.buenos {
  background: url(../assets/224H.jpg) no-repeat;
  background-size: cover; }

@media screen and (min-width: 640px) {
  footer ul li {
    display: inline-block;
    padding-right: 5%; }
    footer ul li:last-of-type {
      padding-right: 0; }

  .post {
    float: left;
    width: 45%;
    margin-right: 10%;
    margin-bottom: 3em; }
    .post:nth-of-type(2) {
      margin-right: 0; }

  .city {
    display: block;
    height: 220px;
    width: 50%;
    float: left; } }
@media screen and (min-width: 720px) {
  .head_nav {
    float: right;
    width: 50%;
    text-align: right; }

  .slick_logo {
    float: left;
    width: 50%; } }
@media screen and (min-width: 850px) {
  .post_link {
    display: inline-block;
    vertical-align: top; }

  .post {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 0; }
    .post:nth-of-type(2) {
      margin-right: 5%; }
    .post:nth-of-type(3) {
      margin-right: 0; }

  .city {
    width: 33.333%; } }

/*# sourceMappingURL=main.css.map */
